
:root {
    --main-game-bg: #151515;
    --dialog-bg: #171717;
    --dialog-border: rgb(161, 77, 182);
    --game-title-color: #b456cc;
    --main-text-color: #e8e8e8;
    --triangle-color: #313131;
    --triangle-border-color: #868686;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--main-game-bg);
    overflow-x: hidden;
    box-shadow:
            inset 0 0 35px #000,
            inset -8px 0 275px #5a3d92,
            inset -18px 0 54px #1b151b,
            inset 6px 0 64px #277b6c,
            inset -20px 0 6px #171919,
            0 0 105px #fff,
            -10px 0 117px #541c54,
            10px 0 80px #364e4e;
}

.main-game {
    position: relative;
}

.resource-icon {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.gold-icon {
    width: 32px;
    height: 32px;
    transform: rotateZ(-20deg);
}

.improvement-counter {
    pointer-events: none;
    user-select: none;
}

body.show-dialog {
    overflow: hidden;
}

.title-block {
    filter: brightness(170%);
}

.title-block .title {
    font-weight: 400;
    font-size: 48px;
    color: var(--game-title-color);
    user-select: none;
    display: flex;
    justify-content: center;
}

.title-block .title:before {
    content: '';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.title-block .title.stats-title:before {
    content: 'Stats';
}

.title-block .title.game-rules-title:before {
    content: 'Game Rules';
}

.stats-block * {
    color: var(--main-text-color);
}
.lobby-list-block * {
    color: var(--main-text-color);
}
.flex-remainder-wrap {
    padding: 12px;
}
.hideable {
    opacity: 1;
    transition: 0.2s ease-in;
    padding: 12px;
    width: 600px;
    position: absolute;
    z-index: 100;
    background: var(--main-game-bg);
    border: 1px solid var(--dialog-border);
}
.no-anim {
    transition: unset !important;
}
.hide-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
    cursor: pointer;
    user-select: none;
    color: #8d549c;
}
.hide-title > span {
    font-size: 28px;
    font-weight: 400;
    margin: 0 12px;
}
.hide-title:hover:before {
    height: 4px;
    width: 100%;
    filter: blur(6px);
    bottom: 0;
}

.hide-title:after {
    content: '';
    height: 1px;
    width: 80%;
    position: absolute;
    display: block;
    background: linear-gradient(to right, rgba(158, 86, 167, 0) 0%,rgb(161, 77, 182) 50%,rgba(0,0,0,0) 100%);
    bottom: 0;
}

.hide-title:before {
    content: '';
    height: 1px;
    width: 80%;
    position: absolute;
    display: block;
    background: linear-gradient(to right, rgba(158, 86, 167, 0) 0%,rgb(161, 77, 182) 50%,rgba(0,0,0,0) 100%);
    bottom: 0;
    transition: 0.1s ease-in-out;
}
.tile-map-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    cursor: grab;
}

.pop {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    animation: popAnim 1s ease-in-out forwards;
    transition: top 0.8s ease-out;
    user-select: none;
    pointer-events: none;
    text-shadow:
            2px 2px 0 var(--main-game-bg),
            2px -2px 0 var(--main-game-bg),
            -2px 2px 0 var(--main-game-bg),
            -2px -2px 0 var(--main-game-bg),
            2px 0 0 var(--main-game-bg),
            0 2px 0 var(--main-game-bg),
            -2px 0 0 var(--main-game-bg),
            0 -2px 0 var(--main-game-bg);
}

[data-owner="KEANU"].pop {
    color: #deabde;
}
[data-owner="TRINITY"].pop  {
    color: #b4efef;
}
[data-owner="MORPHEUS"].pop {
    color: #ffffbc;
}

@keyframes popAnim {
    0% {
        opacity: 1;
    }

    55% {
        transform: translateY(-50px);
    }

    100% {
        opacity: 0;
        transform: translateY(-85px);
    }
}

.hidden {
    opacity: 0;
}
.hide-right {
    right: 0;
}
.hide-left {
    left: 0;
}
.hide-left.hidden {
    width: 0;
}
.hide-right.hidden {
    width: 0;
}
.show-hideable {
    user-select: none;
    width: 160px;
    height: 50px;
    border: 1px solid #8d549c;
    display: flex;
    top: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    transition: 0.1s ease-in;
}
.show-hideable:hover {
    border-color: #eca4ff;
}
.show-hideable:hover > span {
    color: #eca4ff;
}
.show-hideable > span {
    color: #8d549c;
    font-size: 24px;
    transition: 0.1s ease-in;
}
.show-hideable.show-left {
    transform: rotate(90deg);
    left: -55px;

}
.show-hideable.show-right {
    transform: rotate(270deg);
    right: -55px;
}
.game-rules {
    color: var(--main-text-color);
    overflow-y: auto;
    max-height: 600px;
}
.game-rules ul {
    padding: 24px;
    margin-left: 12px;
}
.game-rules li {
    margin: 6px;
}

.flex-parent {
    display: flex;
}
.flex-remainder {
    flex: 1;
    position: absolute;
}

.flex-remainder.left {
    left: 0;
}

.flex-remainder.right {
    right: 0;
}

.flex-remainder.left .hideable {
    border-left: none;
}
.resource-svg {
    pointer-events: none;
    transform: scale(0.05);
}

.wheat-resource-svg {
    fill: #608e60;
}

.oil-resource-svg {
    fill: #6a6d96;
}

.gold-resource-svg {
    transform: scale(0.45);
    fill: #fbbe5c;
}
.sound-switch-block {
    display: flex;
    margin: 20px;
    /* please avoid absolute positioning */
    /*position: absolute;*/
    /*left: 64px;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    justify-content: center;
    align-items: center;
    /* please avoid z-index */
    /*z-index: 1;*/
}

.sound-icons-block {
    margin-left: 8px;
    min-width: 32px;
    position: relative;
}

.sound-icons-block:after {
    content: '';
    width: 36px;
    height: 36px;
    margin-left: -36px;
    background: #8d549c;
    filter: blur(5px);
    position: absolute;
    right: 0;
    top: -4px;
    opacity: 0;
    border-radius: 50%;
    transition: 0.15s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.sound-icons-block:hover:after {
    opacity: 0.4;
    cursor: pointer;
}


#particles {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 72px;
}

.sound-icon {
    color: #724c7b;
    font-size: 28px;
    cursor: pointer;
}

.sound-title {
    color: #8d549c;
    font-weight: 400;
    font-size: 28px;
}

.player-col {
    width: 335px;
}

.player-container {
    height: 165px;
    border: 1px solid white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-title {
    text-align: center;
    padding: 8px 0;
}

.player-container.keanu {
    border-color: magenta;
}
.player-container.morpheus {
    border-color: yellow;
}
.player-container.trinity {
    border-color: cyan;
}

.player-container.keanu .player-title {
    color: magenta;
}
.player-container.morpheus .player-title {
    color: yellow;
}
.player-container.trinity .player-title {
    color: cyan;
}
.allow-player {
    display: flex;
    align-items: center;
}
.allow-player span {
    flex-grow: 1;
}

.stats-block > span {
    margin-bottom: 12px;
    display: block;
    padding-left: 8px;
    text-align: center;
    font-size: 22px;
}
.decimal-holder {
    /* to make 2.700 visually distinctive from 2700 */
    font-family: monospace;
    font-size: 14px;
}
.stats-block table {
    border-collapse: collapse;
    width: 100%;
}
.stats-block th {
    padding: 4px 8px;
}
.stats-block td {
    border: solid 1px rgba(236, 190, 249, 0.16);
    text-align: center;
    padding: 4px 8px;
    border-right: none;
    border-left: none;
}

.stats-block tr:first-child td {
    border-top: none;
}

.stats-block tr:last-child td {
    border-bottom: none;
}
.user-panel {
    margin-top: 48px;
    margin-bottom: 12px;
    color: var(--main-text-color);
}
.lobby-list-block table {
    border-collapse: collapse;
    width: 100%;
}
.lobby-list-block th, .lobby-list-block td {
    padding: 4px;
    text-align: center;
}

.beautiful-btn {
    color: #7f1515;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
}
.beautiful-btn:hover {
    background-color: #7ec7c9;
}
.beautiful-btn:active {
    background-color: #557ac9;
}


tr.turn-pending {
    background-color: #213b5d;
}

.tile-root polygon {
    fill: var(--triangle-color);
    stroke: var(--triangle-border-color);
    stroke-width: 1px;
    transition: 0.15s ease-in-out;
    transform: scale(0.85);
}
/*[data-row] {
    opacity: 0;
}
[data-row="0"] {
    animation: fadeRow 0.1s ease-in forwards;
}*/

@keyframes fadeRow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

[data-resource="EMPTY"] { color: #a9a9a9; }
[data-resource="WHEAT"] { color: #4da04d; }
[data-resource="OIL"] { color: #8c90d0; }
[data-resource="GOLD"] { color: #e4c579; }

polygon.owner-overlay {
    display: none;
}
[data-possible-turn] polygon{
    stroke-width: 3px;
}
[data-balance-value] {
    font-weight: bold;
    color: #60aeff;
}
[data-possible-turn="KEANU"] polygon.base-tile:hover {
    fill: #945694;
}
[data-possible-turn="TRINITY"] polygon.base-tile:hover {
    fill: #68b2ca;
}
[data-possible-turn="MORPHEUS"] polygon.base-tile:hover {
    fill: #b5b547;
}
[data-possible-turn="KEANU"] polygon:first-child {
    stroke: #e4a3e4;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="MORPHEUS"] polygon:first-child {
    stroke: #eaea9b;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="TRINITY"] polygon:first-child {
    stroke: #a6e2e2;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn] {
    cursor: pointer;
}
[data-possible-turn] polygon.owner-overlay {
    animation: blink-possible-turn 1.5s ease-in-out infinite;

}
[data-possible-turn="KEANU"] polygon.owner-overlay {
    stroke: #e4a3e4;
}
[data-possible-turn="MORPHEUS"] polygon.owner-overlay {
    stroke: #eaea9b;
}

[data-possible-turn="TRINITY"] polygon.owner-overlay {
    stroke: #a6e2e2;
}
[data-possible-turn="KEANU"] polygon.owner-overlay {
    stroke: #e4a3e4 !important;
    stroke-width: 3px !important;
}
[data-possible-turn="MORPHEUS"] polygon.owner-overlay {
    stroke: #eaea9b !important;
    stroke-width: 3px !important;
}
[data-possible-turn="TRINITY"] polygon.owner-overlay {
    stroke: #a6e2e2 !important;
    stroke-width: 3px !important;
}
[data-owner] path.resource-svg {
    fill: #313131;
}

[data-owner] polygon.owner-overlay {
    stroke-width: 1px;
    display: unset;
}
[data-owner="KEANU"] polygon.owner-overlay {
    fill: #bd7abd;
    stroke: #484848;
}
[data-stander] polygon.owner-overlay {
    stroke-width: 2px;
}
[data-owner="KEANU"] .player-name-holder { color: magenta; }
[data-stander="KEANU"] polygon.owner-overlay {
    stroke: #f3aff3;
    fill: magenta;
}

[data-owner="MORPHEUS"] polygon.owner-overlay {
    fill: rgb(146, 146, 99);
    stroke: #484848;
}
[data-owner="MORPHEUS"] .player-name-holder { color: yellow; }
[data-stander="MORPHEUS"] polygon.owner-overlay {
    fill: yellow;
    stroke: #f3f3c8;
}

[data-owner="TRINITY"] polygon.owner-overlay {
    fill: #597b86;
    stroke: #484848;
}
[data-owner="TRINITY"] .player-name-holder { color: cyan; }
[data-stander="TRINITY"] polygon.owner-overlay {
    fill: cyan;
    stroke: #dbffff;
}
polygon.modifiers-overlay {
    fill: none;
    stroke: none;
}
.modifier--WALL polygon.modifiers-overlay {
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 8px;
    /*background: ;*/
}

polygon.base-tile:hover {
    fill: #5f5f5f;
}

.modifier--DEAD_SPACE polygon.base-tile {
    fill: transparent;
    stroke: transparent;
}
.modifier--DEAD_SPACE polygon.base-tile:hover {
    fill: transparent;
    cursor: default;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
footer {
    color: #46bbab;
    text-align: right;
    padding: 12px;
}
footer .authorship-text {
    color: #8cb7a9;
    font-size: 8px;
}

.title-neon-wrap {
    filter: brightness(170%);
    margin: 48px 0;
    animation: neon-glow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes neon-glow {
    0% {
        filter: brightness(150%);
    }
    44% {
        filter: brightness(150%);
    }
    45% {
        filter: brightness(250%);
    }
    47% {
        filter: brightness(150%);
    }
    64% {
        filter: brightness(150%);
    }
    65% {
        filter: brightness(250%);
    }
    67% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(150%);
    }
}

.game-title {
    font-weight: 400;
    font-size: 82px;
    color: var(--game-title-color);
    user-select: none;
}

.game-title:before {
    content: 'Trilemma Online';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.stats-title-block {
    filter: brightness(170%);
}

.stats-title {
    font-weight: 400;
    font-size: 64px;
    color: var(--game-title-color);
    user-select: none;
    display: flex;
    justify-content: center;
}

.stats-title:before {
    content: 'Stats';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.center-svg-root {
    margin: 0 auto;
    display: inline-block;
}

/** show flex with staircase rules only if screen is big enough */
@media (min-width: 1680px) {
    .game-wrapper {
        display: flex;
        justify-content: center;
        overflow: auto;
        overflow-x: hidden;
    }

    .stats-block {
        /* please avoid absolute positioning if possible when you'll be updating markup after my changes */
        /*position: absolute;*/
        /*right: 130px;*/
    }

    .lobby-list td:first-child {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}

.tile-map-holder {
    margin-bottom: 82px;
    position: relative;
    overflow: visible;
}

@keyframes blink-possible-turn {
    0% {
        opacity: 1;
    }
    45%, 55% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
