
.dialog-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
}

.dialog-backdrop {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
    z-index: -1;
}

.dialog-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.dialog-container:after {
    width: 0;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dialog-content {
    max-width: 768px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin: 32px 16px;
    position: relative;
    background-color: var(--dialog-bg);
}

.dialog-content:before {
    content: '';
    position: absolute;
    top: -2px; /* cuz of border width */
    left: -2px;
    height: 0;
    width: 0;
    background: transparent;
    border: 2px solid var(--dialog-border);
    border-left: none;
    border-bottom: none;
    opacity: 0;
    pointer-events: none;
    animation: drawBorderRight 170ms ease-in forwards;
}

.dialog-content:after {
    content: '';
    position: absolute;
    bottom: -2px; /* cuz of border width */
    right: 0;
    height: 0;
    width: 0;
    background: transparent;
    border: 2px solid var(--dialog-border);
    border-right: none;
    border-top: none;
    animation: drawBorderLeft 170ms ease-in forwards;
    opacity: 0;
    pointer-events: none;
    animation-delay: 170ms;
}

@keyframes drawBorderRight {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        width: 100%;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes drawBorderLeft {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        width: 100%;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes fadeContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dialog-title {
    flex: 0 0 auto;
    padding: 12px 24px;
}

.dialog-title-text {
    color: #8d549c;
}

.dialog-body {
    flex: 1 1 auto;
    padding: 8px 24px;
    color: white;
}
.dialog-title, .dialog-body, .dialog-actions {
    opacity: 0;
    animation: fadeContent 340ms ease-in forwards;
    /**
     * I commented this because this delay does not add value to the UX IMHO,
     * it feels as if it is just taking a bit of your time for no apparent reason
     *
     * if you want to animate content together with stroke, maybe it would look much better if
     * you just started fade-in instantly, but just gave it more time? then user would not have
     * the impression that rendering just stops at some point
     */
    /*animation-delay: 340ms;*/
}

.dialog-body.visible {
    /* I don't understand why, but this !important seems to be required for dropdown options to be rendered above the borders of the dialog... */
    opacity: 1 !important;
}

.dialog-actions {
    flex: 0 0 auto;
    padding: 12px 24px;
}

.form-btn {
    padding: 8px 16px;
    background: transparent;
    color: #8d549c;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    border: 1px solid var(--dialog-border);
    cursor: pointer;
    transition: 0.1s ease-in;
}

.form-btn:hover {
    border-color: #eca4ff;
    color: #eca4ff;
}