
.dialog-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
}

.dialog-backdrop {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
    z-index: -1;
}

.dialog-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.dialog-container:after {
    width: 0;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dialog-content {
    max-width: 768px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin: 32px 16px;
    position: relative;
    background-color: var(--dialog-bg);
}

.dialog-content:before {
    content: '';
    position: absolute;
    top: -2px; /* cuz of border width */
    left: -2px;
    height: 0;
    width: 0;
    background: transparent;
    border: 2px solid var(--dialog-border);
    border-left: none;
    border-bottom: none;
    opacity: 0;
    pointer-events: none;
    animation: drawBorderRight 170ms ease-in forwards;
}

.dialog-content:after {
    content: '';
    position: absolute;
    bottom: -2px; /* cuz of border width */
    right: 0;
    height: 0;
    width: 0;
    background: transparent;
    border: 2px solid var(--dialog-border);
    border-right: none;
    border-top: none;
    animation: drawBorderLeft 170ms ease-in forwards;
    opacity: 0;
    pointer-events: none;
    animation-delay: 170ms;
}

@keyframes drawBorderRight {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        width: 100%;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes drawBorderLeft {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        width: 100%;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes fadeContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dialog-title {
    flex: 0 0 auto;
    padding: 12px 24px;
    opacity: 0;
    animation: fadeContent 100ms ease-in forwards;
    animation-delay: 340ms;
}

.dialog-title-text {
    color: #8d549c;
}

.dialog-body {
    flex: 1 1 auto;
    padding: 8px 24px;
    overflow: auto;
    opacity: 0;
    animation: fadeContent 100ms ease-in forwards;
    animation-delay: 340ms;
    color: white;
    min-height: 200px;
}

.dialog-actions {
    opacity: 0;
    flex: 0 0 auto;
    padding: 12px 24px;
    animation: fadeContent 100ms ease-in forwards;
    animation-delay: 340ms;
}

.col-grid {
    display: flex;
    flex-direction: column;
}

.col-space-sm {
    margin: 8px 0;
}

.row-grid {
    display: flex;
    flex-direction: row;
}

.flex-sm {
    flex: 1;
}

.flex-md {
    flex: 2;
}

.form-btn {
    padding: 8px 16px;
    background: transparent;
    color: #8d549c;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    border: 1px solid var(--dialog-border);
    cursor: pointer;
    transition: 0.1s ease-in;
}

.form-btn:hover {
    border-color: #eca4ff;
    color: #eca4ff;
}

.a-i-center {
    align-items: center;
}

.a-i-right {
    align-items: flex-end;
}

.j-c-right {
    justify-content: flex-end;
}

.j-c-center {
    justify-content: center;
}

.form-label {
    padding-right: 16px;
}